{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institutions</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.svg'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'institutions.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div id="preloader">


    </div>


    <nav class="navbar navbar-expand-lg  navbar-dark bg-light fixed-top bg">
            <a href = "#" class="navbar-brand fs-2 ms-3 text-white">YourNextCollege</a> 
        
        <button class="navbar-toggler me-3 text-white" type="button" data-bs-toggle="collapse" 
        data-bs-target="#btn">
        <i class='bx bx-menu bx-md'></i>
        </button>
        <div class="collapse navbar-collapse ul-bg" id="btn">
            <ul class="navbar-nav ms-auto" >
                <li class="nav-item">
                    <a href="/" class="nav-link mx-3 text-white fs-5">🏠Home</a>
                </li> 

                <li class="nav-item">
                    <a href="#about-us" class="nav-link mx-3 text-white fs-5">💡About</a>
                </li>
                {%if user.is_authenticated %}
                <li>
                    <a href="/profile/" class="nav-link mx-3 text-white fs-5">Profile 👤</a>
                </li>

                <li>
                    <a href="/logout/" class="nav-link mx-3 text-white fs-5">👋Logout</a>
                </li>
                {%else%}
                
                <li class="nav-item ">
                    <a href="/login/" class="nav-link mx-3 text-white fs-5 ">👋Login</a>
                </li>

                <li class="nav-item ">
                    <a href="/register/" class="nav-link mx-3 text-white fs-5 ">🖊️Sign-up</a>
                </li>
                {%endif%}
             


            </ul>
        </div>
        
    </nav>



    <main style="margin-top: 8rem; margin-bottom: 8rem;">

        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-md-3 mx-4 my-3">
                    <div class="card card-style">
                        
                        <img src="{% static 'institution images/college.png'%}" class="card-img-top img-style" alt="...">
                        <div class="card-body">
                          <p class="card-text card-text-style">Colleges</p>
                        </div>
                        <a href="/collegedata/"><button type="submit" class="btn btn-style" >Search</button></a>
                      </div>
                </div>
    
                <div class="col-md-3 mx-4 my-3">
                    <div class="card card-style">
                        <img src="{% static 'institution images/university.png'%}" class="card-img-top img-style" alt="...">
                        <div class="card-body">
                          <p class="card-text card-text-style">Universities</p>
                        </div>
                        <a href="/universitydata/"><button type="submit" class="btn btn-style" >Search</button></a>
                      </div>
                </div>
    
                <div class="col-md-3 mx-4 my-3">
                    <div class="card card-style">
                        <img src="{% static 'institution images/standalone.png'%}" class="card-img-top img-style" alt="...">
                        <div class="card-body">
                          <p class="card-text card-text-style">Standalone</p>
                        </div>
                        <a href="/standalonedata/"><button type="submit" class="btn btn-style" >Search</button></a>
                      </div>
                </div>
           </div>

        </div>
       
    </main>

<footer class="bg-dark text-white pt-5 pb-4" id="about-us">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text mb-4 font-weight-bold text-warning">YourNextCollege</h5>
                <p><strong>A college finder project using API:</strong><br> A student friendly website that allows students to get the details of all the colleges in India</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">contributors</h5>
                <p>PSG College Of Technology, MCA(23MXian)</p>
                <p>NITHISH P (23MX316)<br>PRAVEEN Y (23MX320)<br>RAHUL G (23MX322)</p>
            </div>
        
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Tech Stack</h5>
                <p>Front-end: HTML,CSS,JavaScript,<br>Bootstrap<br>Backend: Django <br>Database: MySql</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">API link:</h5>
                <p>https://data.gov.in/catalog/<br>list-colleges-aishe-survey</p>
            </div>

        </div>
    </div>

</footer>

    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load",function(){
            loader.style.display = "none";
        })
    </script>

    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>

   
</html>