{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.svg'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'profile-page.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-light bg">
            <a href = "#" class="navbar-brand fs-2 ms-3 text-white">YourNextCollege</a> 
        
        <button class="navbar-toggler me-3 text-white" type="button" data-bs-toggle="collapse" 
        data-bs-target="#btn">
        <i class='bx bx-menu bx-md'></i>
        </button>
        <div class="collapse navbar-collapse ul-bg" id="btn">
            <ul class="navbar-nav ms-auto" >
                <li class="nav-item">
                    <a href="/" class="nav-link mx-3 text-white fs-5">🏠Home</a>
                </li>

                <li class="nav-item">
                    <a href="#about-us" class="nav-link mx-3 text-white fs-5">💡About</a>
                </li>

                <li class="nav-item">
                    <a href="/college/" class="nav-link mx-3 text-white fs-5">🎓Colleges</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class=" container col-md-8 profile-box" style="margin-bottom: -4rem;">

        <div class="card" style="border: none;">
            <div class="row">
                <h1 class="text-center">My Profile</h1>
            </div>
        </div>
    </div>



    <div class=" container col-md-8 profile-box mb-5">
        
        <div class="card" style="border: none;">
            <div class="row">

                    <div class="col-5 ms-5 mt-3 ps-3" >
                        <label>First Name</label>
                        {%if user.is_authenticated %}
                        <p class="lead mb-4" style="font-weight: bolder;">{{user.first_name}} </p>
                        {%else%}
                        <input type="text" id="fname" class="form-control">
                        {%endif%}
                    </div>


                    <div class="col-5  mt-3">
                        <label>Last Name</label>
                        {%if user.is_authenticated %}
                        <p class="lead mb-4" style="font-weight: bolder;">{{user.last_name}} </p>
                        {%else%}
                        <input type="text" id="lname" class="form-control">
                        {%endif%}
                    </div>


                    <div class="col-10 ms-5  mt-3 ps-3">
                        <label>Email</label>
                        {%if user.is_authenticated %}
                        <p class="lead mb-4" style="font-weight: bolder;">{{user.email}} </p>
                        {%else%}
                        <input type="email" id="email" class="form-control">
                        {%endif%}
                    </div>


                    <!-- <div class="col-10 ms-5 mt-3 ps-3" >
                        <label>Password</label>
                        {%if user.is_authenticated %}
                        <p class="lead mb-4" style="font-weight: bolder;">{{user.password}} </p>
                        {%else%}
                        <input type="password" id="password" class="form-control">
                        {%endif%}
                        
                    </div> -->

                    <div class="col-5 ms-5 mt-3 ps-3" >
                        <label>Choose Your 12th stream</label>
                        <select class="form-select">
                            <option>select</option>
                            <option>PCMB</option>
                            <option>PCM</option>
                            <option>Commerce</option>
                            <option>Humanities/Arts</option>
                        </select>
                    </div>


                    <div class="col-5 ms-1 mt-3 ps-3" >
                        <label>Year of completion:</label>
                        <select class="form-select" id="yearSelect">
                            <option>select</option>
                            <option>1995</option>
                            <option>1996</option>
                            <option>1997</option>
                            <option>1998</option>
                            <option>1999</option>
                            <option>2000</option>
                            <option>2001</option>
                            <option>2002</option>
                            <option>2003</option>
                            <option>2004</option>
                            <option>2005</option>
                            <option>2006</option>
                            <option>2007</option>
                            <option>2008</option>
                            <option>2009</option>
                            <option>2010</option>
                            <option>2011</option>
                            <option>2012</option>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                        </select>
                    </div>


                    
                    <div class="col-5 ms-5 mt-3 ps-3" >
                        <label>Choose Your degree</label>
                        <select class="form-select">
                            <option>select</option>
                            <option>Undergraduate</option>
                            <option>Postgraduate</option>
                        </select>
                    </div>


                    
                    <div class="col-5 ms-1 mt-3 ps-3" >
                        <label>Year of completion:</label>
                        <select class="form-select" id="yearSelect">
                            <option>select</option>
                            <option>1995</option>
                            <option>1996</option>
                            <option>1997</option>
                            <option>1998</option>
                            <option>1999</option>
                            <option>2000</option>
                            <option>2001</option>
                            <option>2002</option>
                            <option>2003</option>
                            <option>2004</option>
                            <option>2005</option>
                            <option>2006</option>
                            <option>2007</option>
                            <option>2008</option>
                            <option>2009</option>
                            <option>2010</option>
                            <option>2011</option>
                            <option>2012</option>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                        </select>
                    </div>
                    <div class="col-10 ms-5 mt-3 ps-3" >
                        <label>Specialization</label>
                        <select class="form-select" id="yearSelect">
                            <option>select</option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-10 ms-5 mt-3 ps-3" >
                        <a href="#" class="btn btn-primary">Save</a>
                        <a href="#" class="btn btn-primary">Edit</a>

                    </div>  
            </div>
        </div>
    </div>

  
                        





    

    






 <footer class="bg-dark text-white pt-5 pb-4" id="about-us">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text mb-4 font-weight-bold text-warning">YourNextCollege</h5>
                    <p><strong>A college finder project using API:</strong><br> A student friendly website that allows students to get the details of all the colleges in India</p>
                </div>
    
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">contributors</h5>
                    <p>PSG College Of Technology, MCA(23MXian)</p>
                    <p>NITHISH P (23MX316)<br>PRAVEEN Y (23MX320)<br>RAHUL G (23MX322)</p>
                </div>
            
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Tech Stack</h5>
                    <p>Front-end: HTML,CSS,Bootstrap<br>Backend: Django <br>Database: MySql</p>
                </div>
    
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">API link:</h5>
                    <p>https://data.gov.in/catalog/list-colleges-aishe-survey</p>
                </div>
    
            </div>
        </div>
    
    </footer>
    <script src="{% static 'profile-page.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
</body>
</html>